:root {
  font-family: "Work Sans", sans-serif;
  line-height: 1.5;
  font-size: 0.875rem;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.react-datepicker__month-container {
  background-color: #ffffff;
  border-radius: 8px; 
  font-family: "Nunito", sans-serif;
}

.react-datepicker__month {
  background-color: #ffffff;
  display: grid;
  font-family: "Nunito", sans-serif;
}

.react-datepicker__month-text {
  font-size: 1rem; 
  color: #333; 
  padding: 8px;
  transition: background-color 0.3s ease, color 0.3s ease; 
}

.react-datepicker__month-text--selected {
  color: white; 
  border-radius: 2px; 
  padding: 8px;
}

.react-datepicker__month-text--keyboard-selected {
  color: white; 
  border-radius: 2px; 
  padding: 8px;
}

.react-datepicker__month-text:hover {
  padding: 8px;
  background-color: #f0f0f0; 
  cursor: pointer; 
  transition: background-color 0.3s ease, color 0.3s ease; 
}

.react-datepicker__month-text.react-datepicker__month-4 {
  font-weight: normal;
  color: #000; 
  border-radius: 4px;
}

.no-print {
    display: block;
  }
  @media print {
    .no-print {
      display: none !important;
    }
  }

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

.animate-fade-in {
  animation: fade-in 0.2s ease-out forwards;
}

@keyframes zoom-in {
  from { transform: scale(0.95); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}

.animate-zoom-in {
  animation: zoom-in 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}